.message-container{
    font-size:24px;
    height:auto;
    min-height: 50px;
    padding:15px 0;
    border-bottom:1px solid black;
    z-index: 40;
}

.success{
    background-color: rgb(0, 173, 0);
}

.error{
    background-color: rgb(224, 0, 0);
}

.info{
    background-color: rgb(41, 80, 255);
}

.message{
    display:flex;
    justify-content: center;
    align-items: center;
    height:inherit;
}

.text{
    width:1200px;
    overflow-wrap: break-word;
    color:white;
}

/* button{
    border: none;
    padding:0;
    margin:0;
    text-decoration: none;
    background: none;
    color: white;
}

button:hover,
button:focus {
    font-weight: bold;
}

button:focus{
    outline: 0;
} */

button:active{
    border: none;
    text-decoration: none;
}

@media only screen and (max-width:1250px){
    .text{
        width:800px;
    }
}

@media only screen and (max-width:850px){
    .text{
        width:350px;
        font-size:18px;
    }
}