
.nav-top-container{
    width:100%;
    position:fixed;
    background:transparent;
    top:0;
    z-index:40;
}

.nav-top{
    margin:0 auto;
    padding: 5px;
    border-bottom:1px solid rgb(139, 212, 236);
    z-index: 41;
}

.contact-container{ 
    display:flex;
    align-items:center;
}

.contact{

}

.contact-button{
    color:white;
    border-radius: 25px;
    padding: 5px 35px;
    margin-right:20px;
    background-color: rgb(4, 165, 219);
}

.contact-button:hover{
    background-color: white;
    color:black;
}

.user-button{
    margin-right:25px;
    color:white;
    background-color: rgb(4, 165, 219);
    border-radius: 25px;
}

.user-button:hover{
    color:black;
    background:white;
}

.nav-buffer{
    margin-bottom:59px;
}

/* Bootstrap overrides */

.dropdown-menu-right{
    top:5px !important;
    left:15px !important;
    
}

/*  */

@media screen and (max-width:575px){
    .nav-lower-links{
        margin: auto !important;
    }
}