<div class="page-container">

    <div class="page">
        <div class="page-heading-container">
            <h1 class="page-heading h-1">Leagues</h1>
        </div>

        <div>
            <h1 class="heading">Our Promotions</h1>

            <div class="page-section">

            </div>

            <a [routerLink]="['/promo']" class="standard-link">Add your league or tournament here!</a>
        </div>

        <div>
            <h1 class="heading h-1">Looking for more?</h1>

            <div class="page-section">

                <h1 class="h-3">Try these below</h1>

                <hr>

                <ul class="more-leagues-list">
                    <li><a href="https://dodgeballworldchampionship.com/#top" target="_blank">Dodgeball World Championships</a></li>
                    <li><a href="https://www.skyzone.com/attractions/ultimate-dodgeball" target="_blank">Skyzone</a></li>
                    <li><a href="https://www.facebook.com/search/events?q=dodgeball%20league" target="_blank">Facebook events</a></li>
                </ul>
                
            </div>
        </div>

    </div>

</div>
