<div class="page-container">

    <div class="page">
        <div class="page-heading-container">
            <h1 class="page-heading h-1">Add Your Promo</h1>
        </div>

        <div class="page-section" style="padding:100px 0">
            <div style="display:flex;">
                <div style="width:65%; font-size:20px; padding:15px; margin: auto;">
                    Do you have a league or tournament that you would like to advertise on our website?
                    We would love to hear from you! You can contact us <a href="#">here</a> with all of your events
                    information and we will be in touch as quickly as possible!
                </div>
                <div style="display:flex; width:35%; padding:15px; align-items: center;">
                    <img style="transform: scaleX(-1); width:100%; height:auto" src="assets/images/league-info-image.png">
                </div>
            </div>
        </div>
    </div>

</div>
