<div class="league-container">
    <div class="league-section">
        <!-- Left Image Section -->
        <div class="league-info-image-container-left">
            <div class="league-info-image-left">
                <img src="assets/images/league-info-image.png">
            </div>
        </div>

        <!-- League info section -->
        <div class="league-info-section">
            <div>
                <h1 class="league-info-heading h-1">
                    Looking to play?
                </h1>
            </div>
            <div class="league-info-text text-center">
                Dodgeball leagues play all year round! <br>
                If you are interested in participating, check the link below to see if there are any active leagues in
                your
                area!
            </div>
            <div class="league-info-link">
                <a [routerLink]="['leagues']" class="standard-link base-transition">Let's look for some leagues</a>
            </div>
        </div>

        <!-- Right Image Section -->
        <div class="league-info-image-container-right">
            <div class="league-info-image-right">
                <img src="assets/images/league-info-image.png">
            </div>
        </div>
    </div>
</div>