
<!-- Newsletter Signup-->
<app-newsletter></app-newsletter>

<!-- Footer -->
<div class="footer-container">
    <div class="footer">
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-6">
                    <div class="footer-link-section">
                        <ul>
                            <li><a [routerLink]="['articles']">Articles</a></li>
                            <li><a [routerLink]="['highlights']">Highlights</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="footer-link-section">
                        <ul>
                            <li><a [routerLink]="['leagues']">Leagues</a></li>
                            <li><a [routerLink]="['promo']">Promote Your Event</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-container">
            <div class="row text-center">
                <div class="col-sm-6">
                    Copyright
                </div>
                <div class="col-sm-6 footer-social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
